* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --brand-color:rgb(104, 104, 243);
    --background:rgb(224, 224, 224);

    --white:rgb(255, 255, 255);

    --hover-button: #200697;
}
body{
   background-color: var(--background);
   text-align: center;
}
header{
    padding: 25px;
    background-color: var(--brand-color);
    color: var(--white) ;
}
h1{
    padding-bottom: 8px;

}
main{
    height: 100%;
    padding: 30px 20px;
    margin: 0 40px ;
    background-color: var(--white);
    color: var(--brand-color);
    
}
div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--brand-color);
    border-radius: 50px;
    outline: none;
}
 
button{
    width: 100%;
    max-width: 500px;
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: var(--white);
    border-radius: 50px;
    padding: 10px 15px;
    margin: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
  background-color: var(--hover-button);
  transform: scale(1.05);
}

#resultado {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--brand-color);
}
footer {
    text-align: center;
    margin-top: 30px;
    color: var(--brand-color);
    font-weight:bolder
}